@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.App {
    margin-top: 100px;
    width: auto;
    font-family: "Open Sans", sans-serif;
}

.fill-color {
    fill: #2081C3;
}

.no-border-radius {
    border-radius: 0 !important;
}

.user-panel {
    display:flex; 
    justify-content:center;
    align-items:center;
    height: 64px;
    background-color: white;
    box-shadow: 0px 2px 4px 0px #807e7e;
}

.logo {
    vertical-align: middle;
    display: table-cell;
}

.title {
    vertical-align: middle;
    display: table-cell;
}

.user-panel img{
    vertical-align: middle;
    margin-right: 5px;
}

.user-title {
    vertical-align: middle;
    color: #4A4A4A;
    font-size: 18px;
    text-transform: uppercase;
}

.container {
    width: 33%;
    margin: 0 auto;
    background-color: #F1F5F6;
}

.has-shadow {
    box-shadow: 1px 1px 5px rgb(106 97 97);
}

.wrapper {
    margin: auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 16px;
    padding-bottom: 0px;
}

.custom-pad{
    padding-bottom: 16px;
}

.user-logo {
    vertical-align: middle;
    display: table-cell;
    padding-right: 10px;
}

.user {
    font-family: "Open Sans", sans-serif;
    vertical-align: middle;
    display: table-cell;
    
}

.name {
    font-size: 12px;
    font-weight: bold;
    color: #4A4A4A;
    margin: 2px;
}

.role {
    margin: 2px;
    color: #4A4A4A;
    font-size: 10px;
}

.email {
    margin: 2px;
    color: #7E7E7E;
    font-size: 10px;
}

.details {
    margin-bottom: 10px;
}

.details label{
    font-weight: bold;
    font-size: 10px;
    color: #4A4A4A;
}

.details p{
    font-size: 10px;
    color: #4A4A4A;
    margin: 0px;
}
